.footer {
    background-color: #ececec;
    &__wrapper {
        position: relative;
        padding: 125px 0 70px;
        @include tablet {
            display: flex;
            justify-content: space-between;
            padding-right: 50px;
            padding-top: 30px;
        }
        @media ($desctop) {
            padding-right: 155px;
        }
    }
    &__logo {
        margin-bottom: 40px;
        img {
            width: 100%;
            @include mobile {
                width: auto;
            }
        }
    }
    &__links {
        flex: 1 0;
        max-width: 350px;

        @include tablet {
            margin-left: 20px;
        }

        &-on-bloks {
            display: flex;
            flex-direction: column;
            margin-bottom: 56px;

            li:not(:last-child) {
                margin-bottom: 32px;
                @include fontSet(16, 16.44, 500);
            }

            @include tablet {
                padding-top: 24px;
            }

            @media ($desctop) {
                flex-direction: row;
                margin-bottom: 35px;
                justify-content: space-between;

                li:hover {
                    text-decoration: underline;
                }

                li:not(:last-child) {
                    margin-bottom: 0;
                }
            }
        }
        &-on-social {
            display: flex;
            position: absolute;
            top: 40px;
            left: 50%;
            transform: translateX(-50%);

            li:not(:last-child) {
                margin-right: 8px;
            }

            @include tablet {
                position: static;
                transform: translateX(0);
            }
        }
    }
    &__contacts {
        @include tablet {
            padding-top: 25px;
        }
        h5 {
            @include fontSet(14, 16, 700);
            margin-bottom: 25px;
        }
        // &-map-m {
        //     @include tablet {
        //         display: none;
        //     }
        // }
        // &-map-d {
        //     display: none;
        //     @include tablet {
        //         display: block;
        //     }
        // }
        li {
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
        li a {
            display: inline-flex;
            align-items: center;

            img {
                margin-right: 10px;
            }

            @include tablet {
                img {
                    margin-right: 16px;
                }
            }

            @media ($desctop) {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
