.header {
  height: 100vh;
  position: relative;

  &__bg {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: url(../img/main/1_dog.jpg) bottom / cover no-repeat;
  }

  .wrapper {
    padding-top: 40px;
    height: 100%;
  }

  &__mobile-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $defaultColor;
    padding: 20px 15px;
  }
  &__mobile-menu-links {
    padding-top: 60px;
    li {
      text-align: center;
      margin-top: 40px;
    }
    a {
      @include fontSet(18, 20, 700);
    }
  }

  &__burger {
    display: none !important;
  }

  nav {
    position: relative;
    z-index: 2;
  }

  &__links {
    padding-right: 35px;
    li {
      margin-right: 56px;
    }
    a {
      font-weight: bold;
      letter-spacing: -.1px;
    }
  }
  &__content {
    margin-top: 114px;
    h1 {
      @include fontSet(80, 85, 700, -.5);
    }
    p {
      @include fontSet(18, 23, 600, -.2);
      margin-top: 30px;
      margin-bottom: 40px;
    }
    .btn {
      width: 305px;
    }
  }
}

@media (max-width: $xs+px) {
  .header {
    height: auto;
    img {
      height: 40px;
    }
    &__burger {
      display: flex !important;
    }
    .wrapper {
      padding-top: 20px;
    }
    &__links {
      display: none !important;
    }
    &__content {
      margin-top: 35px;
      h1 {
        @include fontSet(34, 36, 800, -.5);
      }
      p {
        @include fontSet(16, 20, 500, -.2);
        margin-top: 15px;
        margin-bottom: 30px;
      }
      .btn {
        width: calc(100vw - 20px);
      }
    }
  }
}
