.popup-services {
	h1 {
		margin-bottom: 25px;
		margin-left: 47px;
		@media ($tablet) {
			margin-bottom: 30px;
			margin-left: 0;
		}
	}
	h3 {
		@include fontSet(20, 21, 700);
		margin-bottom: 20px;
	}
	.popup__content {
		background-color: #fff;

		@media ($tablet) {
			max-width: 1064px;
			padding: 55px 105px 30px;
			background-color: #f8f8f8;
		}
	}
	&__slider-services {
		display: none;

		@media ($tablet) {
			position: relative;
			display: block;
			height: 470px;
			margin-bottom: 20px;
		}
	}
	&__slider-add-services {
		display: none;

		@media ($tablet) {
			position: relative;
			display: block;
			height: 240px;

			div {
				flex: 1 0;
			}
		}
	}

	&__filter {
		margin-bottom: 20px;
		@media ($tablet) {
			max-width: 305px;
		}
	}

	&__filter-title {
		margin-bottom: 10px;
		font-weight: 500;
	}

	&__categories {
		img {
			width: 16px;
			margin-right: 8px;
		}
		.g-select__body {
			background: #fff;
		}

		@media ($tablet) {
			.g-select__body {
				background: #f8f8f8;
			}
			// .g-select__item:last-child {
			// 	display: none;
			// }
		}
	}
	&__mobile-services {
		@media ($tablet) {
			display: none;
		}
	}
	&__mobile-list {
		margin-bottom: 40px;
	}
	&__mobile-item {
		display: flex;
		min-height: 130px;
		border: 1px solid #f5f5f5;
		box-shadow: 0px 4px 15px rgba(142, 142, 142, 0.06);
		border-radius: 12px;
		margin-bottom: 20px;
	}
	&__mobile-item-img {
		flex: 1 0;
		max-width: 160px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__mobile-item-data {
		flex: 1 0;
		padding: 13px 12px 16px 20px;
		display: flex;
		flex-direction: column;
	}
	&__mobile-item-title {
		@include fontSet(16, 22, 700);
		margin-bottom: 9px;
	}
	&__mobile-item-desc {
		flex: 1 0;
		@include fontSet(11, 15.4, 400);
	}
	&__mobile-item-numbers {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__mobile-item-time {
		@include fontSet(12, 16.8, 400);
		color: #cdd7dc;
	}
	&__mobile-item-price {
		@include fontSet(18, 25.2, 700);
	}

	.popup__back {
		img {
			transform: rotate(180deg);
		}
	}

	.slick-arrow {
		@extend %arrows;
		position: absolute;
		top: 40%;
		opacity: 0;
		visibility: hidden;
		transition: all 0.2s ease;

		&:active:not(.slick-disabled) {
			transform: translateY(2px);
		}
	}
	.slick-slider {
		&:hover {
			.slick-arrow {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.prev-arrow {
		left: -45px;
		svg {
			transform: rotate(180deg);
		}
	}
	.next-arrow {
		right: -45px;
	}
	.slick-list {
		height: inherit;
		overflow: hidden;
		margin: 0 -10px;
	}
	.slick-track {
		display: flex;
		height: inherit;
	}

	.services__slide-wrapper {
		background: #f8f8f8;
	}

	&__services-list {
		@media ($tablet) {
			display: none;
		}
	}
}
