.questions {
    padding: 35px 0;

    @include tablet {
        padding: 180px 0;
        background: url("../img/answers-bg.png") center / 100% 100% no-repeat;
    }
    h1 {
        margin-bottom: 40px;

        @include tablet {
            margin-bottom: 70px;
        }
    }
    &__wrapper {
        max-width: 880px;
        margin: 0 auto;
        padding: 0 15px;
    }
    &__spoiler {
        border: 1px solid #ebf1f4;
        box-shadow: 0px 25px 50px rgba(50, 93, 116, 0.1);
        border-radius: 12px;
        background-color: #fff;
        padding: 10px 0;

        @include tablet {
            padding: 5px 0;
        }
    }
    &__item-header-wrap {
        position: relative;
        cursor: pointer;
    }
    &__item {
        position: relative;
        padding: 0 16px;
        &:not(:last-child) {
            border-bottom: 2px solid #ebf1f4;
        }

        &.active {
            padding-bottom: 16px;
            .questions__item-icon {
                transform: translateY(-50%) rotate(45deg);
                border-color: #243138;
                &::before,
                &::after {
                    background-color: #243138;
                }
            }
        }

        @include tablet {
            padding: 0 40px;
        }

        &-icon {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            border: 2px solid #fec71a;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            transition: all 0.3s ease;
            font-size: 0px;

            @include tablet {
                right: -10px;
            }

            &::before,
            &::after {
                content: "";
                height: 2px;
                width: 10px;
                background-color: #fec71a;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: all 0.3s ease;
            }
            &::after {
                transform: translate(-50%, -50%) rotate(90deg);
            }
        }
        h4 {
            @include fontSet(16, 20, 700);
            padding: 16px 25px 16px 0;
            user-select: none;

            @include tablet {
                @include fontSet(16, 22, 700);
                padding: 25px 20px 25px 0;
            }
        }
        &-text {
            display: none;
        }
        p {
            @include fontSet(16, 22, 500);

            &:not(:last-child) {
                margin-bottom: 15px;
            }

            @include tablet {
                @include fontSet(18, 29, 500);
            }
        }
    }
}
