.services {
  padding-top: 20px;
  @media ($tablet) {
    padding-top: 50px;
  }
  h1 {
    margin-bottom: 40px;
  }
  &__nav {
    display: flex;
    overflow: scroll;
    padding: 0 10px 10px;
    padding-bottom: 20px;
    margin-left: -10px;

    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
  }
  &__nav-btn {
    height: 45px;
    min-width: 196px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &.active {
      background-color: $yellow;
    }
  }
  &__info-for-dogs {
    margin-top: 10px;
    display: none;
    width: 100%;
  }
  &__note {
    margin-bottom: 20px;
    @include fontSet(12, 19.2, 500, -0.1);

    @media ($tablet) {
      margin-bottom: 25px;
    }
  }
  &__filters {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media ($tablet) {
      flex-direction: row;
      align-items: center;
      width: 100%;
      margin-bottom: 0;
      padding-top: 0;
    }
  }
  &__filters-cleaner {
    display: none;
    align-items: center;
    color: #cdd7dc;
    font-size: 18px;
    font-weight: 500;

    cursor: pointer;

    img {
      margin-right: 13px;
    }

    &.active {
      display: flex;
    }

    @media ($tablet) {
      margin-top: 20px;
    }
  }
  &__filter {
    width: 100%;
    margin-bottom: 30px;

    @media ($tablet) {
      width: 1px;
      min-width: 305px;
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
  &__filter-title {
    margin-bottom: 10px;
    @include fontSet(16, 22.4, 500);
  }
  &__breeds-header-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__categories {
    img {
      width: 16px;
      margin-right: 8px;
    }
  }
  &__slider {
    position: relative;
    height: 380px;
    margin-top: 20px;

    &:hover .slick-arrow {
      visibility: visible;
      opacity: 1;
    }

    @media ($tablet) {
      height: 480px;
      margin-top: 40px;
    }
  }
  .slick-arrow {
    @extend %arrows;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 40%;
    transition: all 0.2s ease;

    &:active:not(.slick-disabled) {
      transform: translateY(2px);
    }
  }
  .prev-arrow {
    left: 15px;
    img {
      transform: rotate(180deg);
    }
  }
  .next-arrow {
    right: 15px;
  }
  .slick-list {
    height: inherit;
    overflow: hidden;
    // padding: 0 5px;
    margin: 0 -10px;
  }
  .slick-track {
    display: flex;
    height: inherit;
  }

  &__slide {
    margin: 10px 0 20px;
  }
  &__slide-wrapper {
    height: 100%;
    box-shadow: 0px 4px 9px rgba(142, 142, 142, 0.2);
    background-color: #fff;
    border: 1px solid #f5f5f5;
    border-radius: 12px;
    overflow: hidden;
    margin: 0 10px;
    padding: 15px 13px 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media ($tablet) {
      padding-top: 30px;
    }
  }
  &__slide-img {
    height: 90px;
    margin-bottom: 10px;
    text-align: center;

    @media ($tablet) {
      height: 120px;
      margin-bottom: 0;
    }
  }
  &__slide-data {
    flex: 1 0;
    display: flex;
    flex-direction: column;
  }
  &__slide-title {
    text-align: center;
    @include fontSet(14, 20, 700);
    flex: 1 0;

    @media ($tablet) {
      @include fontSet(16, 22, 700);
    }
  }
  &__slide-desc {
    @include fontSet(10, 14, 400);
    height: 50px;
    margin-bottom: 3px;
    text-align: center;

    @media ($tablet) {
      @include fontSet(11, 16, 400);
      height: 65px;
      margin-bottom: 10px;
    }
  }
  &__slide-price {
    text-align: center;
    @include fontSet(18, 25, 700);
    margin-bottom: 10px;

    @media ($tablet) {
      @include fontSet(25, 35, 700);
      margin-bottom: 12px;
    }
  }
  &__slide-time {
    text-align: center;
    @include fontSet(11, 15, 400);
    color: #cdd7dc;
    margin-bottom: 10px;

    @media ($tablet) {
      margin-bottom: 20px;
    }
  }
  &__slide-btn {
    width: 100%;
    height: 65px;

    &:hover {
      background-color: #fec71a;
    }
  }

  &__dog-select-header {
    padding-right: 50px;
  }

  &__dog-select-input {
    height: 100%;
    flex: 1;
  }
}
