@import "settings/null";
@import "settings/variables";
@import "settings/mixins";
@import "settings/tipografy";
@import "settings/g-select";
@import "settings/fragments";
@import "settings/air-datepicker";
@import "settings/datepicker";
@import "settings/form";

@import "fonts";
@import "header";
@import "about";
@import "services";
@import "zootaxi";
@import "ourworks";
@import "questions";
@import "promo";
@import "feedbacks";
@import "callback";
@import "footer";
@import "popup";
@import "popup-main";
@import "popup-services";
@import "popup-ok";
@import "popup-feedback";

* {
  font-family: "Raleway", sans-serif;
  @include fontSet(14, 16, 400);
  color: $textColor;
}

body.lock {
  overflow: hidden !important;
}

.container {
  max-width: $lg + px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @include tablet {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.row {
  display: flex;
}

.col {
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04), 0px 10px 16px rgba(0, 0, 0, 0.05);

  @include fontSet(16, 17, 600, -0.2);

  &:hover {
    background-color: $textColor;
    color: white;

    path {
      stroke: white;
    }
  }

  &:active {
    transform: translateY(2px);
  }
}

.btn-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 2px solid $textColor;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: $textColor;
    color: #fff;

    path {
      stroke: white;
    }
  }
}

.btn-costom {
  border: 1px solid $textColor;
  border-radius: 6px;
  padding: 4px 8px;

  &:hover {
    background-color: $textColor;
    color: #fff;
  }

  &.active {
    background-color: $yellow;
    color: $textColor;
    border-color: transparent;
  }
}

.slider-arrow {
  &:hover {
    background-color: $yellow;

    path {
      stroke: $textColor;
    }
  }

  &:active {
    transform: translateY(calc(-50% + 2px));
  }
}

.yellow {
  background-color: $yellow;
}

.gray {
  background-color: $gray;
}

.text-center {
  text-align: center;
}

.about {
  margin-bottom: 50px;
  @include tablet {
    margin-bottom: 110px;
  }
}

.services {
  margin-bottom: 110px;
  @include tablet {
    margin-bottom: 170px;
  }
}

.zootaxi {
  margin-bottom: 55px;
  @include tablet {
    margin-bottom: 60px;
  }
}

.questions {
  margin-bottom: 55px;
  @include tablet {
    margin-bottom: 50px;
  }
}

.promo {
  margin-bottom: 55px;
  @include tablet {
    margin-bottom: 60px;
  }
}

.callback {
  margin-bottom: 50px;
  @include tablet {
    margin-bottom: 100px;
  }
}

.feedbacks {
  margin-bottom: 50px;

  @include tablet {
    margin-bottom: 68px;
  }
}

.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}
