.air-datepicker {
    box-shadow: none;
    filter: drop-shadow(0px 4px 8px rgba(50, 50, 71, 0.06));

    * {
        font-family: 'SFPro', 'Raleway', sans-serif;
    }
}

.air-datepicker--pointer {
    display: none;
}

.air-datepicker-nav {
    min-height: 45px;
    border-bottom-color: #CDD7DC;
    filter: drop-shadow(0px 4px 8px rgba(50, 50, 71, 0.06));
}

.air-datepicker-nav--title {
    font-family: 'SFProDisplay-Regular', sans-serif;
    color: #243138;
    font-weight: 500;
    @include fontSet(15, 20, 600);
}

.air-datepicker-nav--action svg {
    width: 6px;
    height: 12px;
}

.air-datepicker-body--day-name {
    color: rgba(36, 49, 56, .5);
}

.air-datepicker-cell {
    @include fontSet(13, 18, 400);
    font-family: 'SFProDisplay-Regular', sans-serif;
    color: #243138;

    &.-other-month- {
        color: #CDD7DC;
    }

    &.-focus-,
    &.-selected-,
    &.-selected-.-current-,
    &.-selected-.-focus- {
        background-color: #FEC71A;
        color: white;
    }

    &.-day-,
    &.-selected-.-day- {
        border-radius: 50%;
    }

    &.-current- {
        color: #FEC71A;
    }

    &.-focus-::before {
        background-color: #CDD7DC;
    }
}

.air-datepicker-nav--title {
    font-weight: 500;
}
