.dn {display: none !important;}
.db {display: block !important;}
.dib {display: inline-block !important;}

.df {display: flex !important;}

.fxww {
    flex-wrap: wrap;
}
.fxwnw {
    flex-wrap: nowrap;
}

.fxdc {flex-direction: column !important;}
.fxdr {flex-direction: row !important;}

.ais {align-items: start !important;}
.aic {align-items: center !important;}
.aie {align-items: end !important;}

.jcs {justify-content: start !important;}
.jcc {justify-content: center !important;}
.jce {justify-content: end !important;}
.jcsb {justify-content: space-between !important;}


@mixin setDisplay($display) {
    .d-#{$display}-n {display: none !important;}
    .d-#{$display}-b {display: block !important;}
    .d-#{$display}-ib {display: inline-block !important;}

    .d-#{$display}-f {display: flex !important;}

    .fxd-#{$display}-c {flex-direction: column !important;}
    .fxd-#{$display}-r {flex-direction: row !important;}

    .fxw-#{$display}-w {flex-wrap: wrap;}
    .fxw-#{$display}-nw {flex-wrap: nowrap;}

    .ai-#{$display}-s {align-items: start !important;}
    .ai-#{$display}-c {align-items: center !important;}
    .ai-#{$display}-e {align-items: end !important;}

    .jc-#{$display}-s {justify-content: start !important;}
    .jc-#{$display}-c {justify-content: center !important;}
    .jc-#{$display}-e {justify-content: end !important;}
    .jc-#{$display}-sb {justify-content: space-between !important;}
}

@media (max-width: $lg+px) {
    @include setDisplay('lg')
}

@media (max-width: $md+px) {
    @include setDisplay('md');
    .d-md-b {
        display: block;
    }
}

@media (max-width: $sm+px) {
    @include setDisplay('sm')
}

@media (max-width: $xs+px) {
    @include setDisplay('xs')
}
