@mixin setProperty($num, $property, $side) {
    #{$property}-#{$side}: $num+px;
}

.ml-auto {margin-left: auto;}
.mr-auto {margin-right: auto;}
.mx-auto {margin-left: auto;margin-right: auto;}

.mx-0 {margin-left: 0;margin-right: 0;}

// X
@for $i from 0 through 35 {
    .mx-#{$i} {
        @include setProperty($i, 'margin', 'left');
        @include setProperty($i, 'margin', 'right');
    }
}
@media (max-width: $lg+px) {
    @for $i from 0 through 35 {
        .mx-lg-#{$i} {
            @include setProperty($i, 'margin', 'left');
            @include setProperty($i, 'margin', 'right');
        }
    }
}
@media (max-width: $md+px) {
    @for $i from 0 through 35 {
        .mx-md-#{$i} {
            @include setProperty($i, 'margin', 'left');
            @include setProperty($i, 'margin', 'right');
        }
    }
}
@media (max-width: $sm+px) {
    @for $i from 0 through 35 {
        .mx-sm-#{$i} {
            @include setProperty($i, 'margin', 'left');
            @include setProperty($i, 'margin', 'right');
        }
    }
}
@media (max-width: $xs+px) {
    @for $i from 0 through 35 {
        .mx-xs-#{$i} {
            @include setProperty($i, 'margin', 'left');
            @include setProperty($i, 'margin', 'right');
        }
    }
}


// Y
@for $i from 0 through 35 {
    .my-#{$i} {
        @include setProperty($i, 'margin', 'top');
        @include setProperty($i, 'margin', 'bottom');
    }
}
@media (max-width: $lg+px) {
    @for $i from 0 through 35 {
        .my-lg-#{$i} {
            @include setProperty($i, 'margin', 'top');
            @include setProperty($i, 'margin', 'bottom');
        }
    }
}
@media (max-width: $md+px) {
    @for $i from 0 through 35 {
        .my-md-#{$i} {
            @include setProperty($i, 'margin', 'top');
            @include setProperty($i, 'margin', 'bottom');
        }
    }
}
@media (max-width: $sm+px) {
    @for $i from 0 through 35 {
        .my-sm-#{$i} {
            @include setProperty($i, 'margin', 'top');
            @include setProperty($i, 'margin', 'bottom');
        }
    }
}
@media (max-width: $xs+px) {
    @for $i from 0 through 35 {
        .my-xs-#{$i} {
            @include setProperty($i, 'margin', 'top');
            @include setProperty($i, 'margin', 'bottom');
        }
    }
}


// top
@for $i from 0 through 35 {
    .mt-#{$i} {@include setProperty($i, 'margin', 'top')}
}
@media (max-width: $lg+px) {
    @for $i from 0 through 35 {
        .mt-lg-#{$i} {@include setProperty($i, 'margin', 'top')}
    }
}
@media (max-width: $md+px) {
    @for $i from 0 through 35 {
        .mt-md-#{$i} {@include setProperty($i, 'margin', 'top')}
    }
}
@media (max-width: $sm+px) {
    @for $i from 0 through 35 {
        .mt-sm-#{$i} {@include setProperty($i, 'margin', 'top')}
    }
}
@media (max-width: $xs+px) {
    @for $i from 0 through 35 {
        .mt-xs-#{$i} {@include setProperty($i, 'margin', 'top')}
    }
}


// bottom
@for $i from 0 through 35 {
    .mb-#{$i} {@include setProperty($i, 'margin', 'bottom')}
}
@media (max-width: $lg+px) {
    @for $i from 0 through 35 {
        .mb-lg-#{$i} {@include setProperty($i, 'margin', 'bottom')}
    }
}
@media (max-width: $md+px) {
    @for $i from 0 through 35 {
        .mb-md-#{$i} {@include setProperty($i, 'margin', 'bottom')}
    }
}
@media (max-width: $sm+px) {
    @for $i from 0 through 35 {
        .mb-sm-#{$i} {@include setProperty($i, 'margin', 'bottom')}
    }
}
@media (max-width: $xs+px) {
    @for $i from 0 through 35 {
        .mb-xs-#{$i} {@include setProperty($i, 'margin', 'bottom')}
    }
}


// left
@for $i from 0 through 35 {
    .ml-#{$i} {@include setProperty($i, 'margin', 'left')}
}
@media (max-width: $lg+px) {
    @for $i from 0 through 35 {
        .ml-lg-#{$i} {@include setProperty($i, 'margin', 'left')}
    }
}
@media (max-width: $md+px) {
    @for $i from 0 through 35 {
        .ml-md-#{$i} {@include setProperty($i, 'margin', 'left')}
    }
}
@media (max-width: $sm+px) {
    @for $i from 0 through 35 {
        .ml-sm-#{$i} {@include setProperty($i, 'margin', 'left')}
    }
}
@media (max-width: $xs+px) {
    @for $i from 0 through 35 {
        .ml-xs-#{$i} {@include setProperty($i, 'margin', 'left')}
    }
}


// right
@for $i from 0 through 35 {
    .mr-#{$i} {@include setProperty($i, 'margin', 'right')}
}
@media (max-width: $lg+px) {
    @for $i from 0 through 35 {
        .mr-lg-#{$i} {@include setProperty($i, 'margin', 'right')}
    }
}
@media (max-width: $md+px) {
    @for $i from 0 through 35 {
        .mr-md-#{$i} {@include setProperty($i, 'margin', 'right')}
    }
}
@media (max-width: $sm+px) {
    @for $i from 0 through 35 {
        .mr-sm-#{$i} {@include setProperty($i, 'margin', 'right')}
    }
}
@media (max-width: $xs+px) {
    @for $i from 0 through 35 {
        .mr-xs-#{$i} {@include setProperty($i, 'margin', 'right')}
    }
}
