// $lg: 1280;
$lg: 1440;
$md: 992.98;
$sm: 767.98;
$xs: 479.98;

$desctop: 'min-width: 992.98px';
$tablet: 'min-width: 767.98px';
$mobile: 'min-width: 479.98px';

$yellow: #FEC71A;
$textColor: #243138;
$textColor40: rgba(36, 49, 56, 0.4);
$gray: #CDD7DC;
$defaultGray: #ECEFEF;
$red-error: #FE6868;
